 body {
  font-family: proxima-nova, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}

.proximaNovaBlack {
  font-family: proxima-nova, sans-serif;
  font-weight: 900;
  font-style: normal;
}

.proximaNovaThin {
  font-family: proxima-nova-condensed, sans-serif;
  font-weight: 250;
  font-style: normal;
}

.jumbotron {
  padding: 1rem 2rem;
}

.jumboStuff {
  width : 100%;
}

.logo {
  height: 45px;
  width: auto;
}

.getStarted {
  background-color: transparent;
  height: 45px;
  width: auto;
  border-radius: 0px;
  border: white;
  border-width: medium;
  border-style: solid;
  color: white;
  margin-left: 5%;
}

.explore {
  background-color: white;
  height: 45px;
  width: auto;
  border-radius: 0px;
  color: #2299dd;
}

.changeWidth{
  width: 100%;
  margin-top: 11px;
  padding-left: 11px;
}

.enroll {
  background-color: #33ff99;
  height: 45px;
  width: auto;
  border-radius: 0px;
  color: white;
}

.navbar {
  color: white;
  width: 100%;
}

#jumbotext {
  color: white;
  padding-top: 10%;
  padding-bottom: 5%;
}

.jumboLead {
  padding-bottom: 10px;
  color: white;
  font-size: 18px;
}

.jumbotextPadding {
  padding-left: 10%;
}

#navbarSupportedContent {
  display: inherit;
  flex-direction: row-reverse;
  align-items: center;
}

.nav-link {
  color: white;
}

.studyGirl {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./assets/hero-8-wide.jpg);
  background-size: cover;
  background-position: center;
  padding-bottom: 4%;
}

.quoter {
  padding-top: 10px;
}
.footerButtonPad {
  margin-top: 5%;
}

.grey {
  color: #8d959a;
  font-size: 20px;
  margin-top: 4%;
  margin-bottom: 4%;
}

.middleText {
  margin-top: 5%;
  padding-left: 10%;
  padding-right: 10%;
}

.secondMiddleText {
  padding-top: 10%;
  padding-right: 10%;
  padding-left: 9%;
  padding-right: 10%;
}

.padBottom {
  padding-right: 10%;
}

.marginTopBottom {
  margin-bottom: 15%;
  margin-top: 5%;
}

.greenQuotation {
  height: 3rem;
  width: auto;
  margin-right: 5%;
}

.bottomBlueSquare {
  background-color: #2299dd;
  height: fit-content;
  width: 50%;
}

.bottomMiddle {
  margin-top: 12%;
  margin-bottom: 10%;
}

.bottom {
  height: auto;
  padding-bottom: 30px;
  margin-bottom: 4%;
}

.bottomRightLines {
  height: 36%;
  width: auto;
  right: 67%;
  top: 78%;
}

.bottomLeftLines {
  height: 187px;
  width: auto;
  left: 68%;
  top: -16%;
}

.bottomBlueText {
  color: white;
  padding-left: 5%;
  padding-top: 5%;
  padding-right: 5%;
  padding-bottom: 6%;
}

.darkerGreen {
  background-color: #2de187;
}

 .bottomTeachersText {
   color: black;
 }

 .bottomSquaresText {
   font-size: 24px;
 }

 .footerText {
  color: #8d959a;
  font-size: 17px;
  padding-left: 7%;
  padding-right: 7%;
  padding-top: 7%;
 }

 .list-group-item-action {
   margin-bottom: 8%;
 }

 .pads {
  padding-left: 60px;
  padding-right: 37px;
}

 .footerLink {
  color: #8d959a;
 }

 .footerLink:hover {
   background-color: transparent;
 }

 .footLogo {
  height: auto;
  width: 70%;
 }
 
 .termsPolicy {
  font-size: x-small;
  color: #8d959a;
 }

 .tryDisplays {
  display: inline-flex;
  padding-left: 10%;
  padding-right: 10%;
 }

 /* student stuff */

 .sadGirlRow {
  height: auto;
  margin-top: 3%;
  margin-left: 5%;
  margin-right: 5%;
}

 .rightNonePadding {
  padding-right: 0px;
  padding-left: 0px;
 }

 .middleGreyImage {
  background-image: url(./assets/light-hero-1.jpg);
  background-size: cover;
  background-position: center;
 }

 .code_ {
   color: #002333;
   font-size: 50px;
 }

 .zeroPadding {
   padding-left: 0px;
 }

 .getStartedGreen {
  color: #33ff99;
  background-color: white;
  border: #33ff99;
  border-width: medium;
  border-style: solid;
  margin-left: 5px;
 }

 .studentThirdRowPadding {
  margin-top: 5%;
  margin-bottom: 5%;
 }

 .studentMargin {
   padding-top: 6%;
 }

 .studentNavMargin {
  margin-top: 30px;
  padding-left: 5%;
  padding-right: 5%;
 }

 .studentBlueButton {
   background-color: #2299dd;
   color: white;
   border-radius: 0;
   margin-top: 5%;
 }

 .studentSecondMiddleText {
  padding-top: 10%;
  padding-left: 20%;
  padding-right: 10%;
  padding-bottom: 20px;
 }

 .studentTail {
  background-color: #002333;
}

.studentStats {
  width: 50%;
  margin-top: 5%;
  margin-bottom: 5%;
  padding-left: 10%;
  padding-right: 10%;
}

.blueStats {
  color: #002333;
  font-size: 64px;
}

.midBlue {
  color: #2299dd;
  font-size: x-large;
}

.midGreen {
  color: #2de187;
  font-size: x-large;
}

.studentNavLink {
  color: #8d959a;
}

.studentFooterLinks {
  color: #8d959a;
  font-size: 17px;
  padding-top: 7%;
}

.nav {
  margin-top: 1%;
  margin-left: 5%;
  margin-right: 5%;
  height: 6%;
  margin-left: 20px;
  margin-right: 20px;
}

.extraFooter {
  background-color: #002333;
  padding-bottom: 2%;
}

.navbar-toggler-icon {
  color: #002333;
}

.list-group-item-action {
  margin-bottom: 4%;
}