 body {
  font-family: proxima-nova, sans-serif;
  font-weight: 400;
  font-style: normal;
}

h2 {
  font-size: 30px;
  margin-top: 10%;
  margin-bottom: 10%;
}

.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}

.jumbotron {
  padding: 1rem 2rem;
}

.logo {
  height: 45px;
  width: auto;
}

.getStarted {
  background-color: transparent;
  height: 45px;
  width: auto;
  border-radius: 0px;
  border: white;
  border-width: medium;
  border-style: solid;
  color: white;
  margin-left: 5%;
}

.explore {
  background-color: white;
  height: 45px;
  width: auto;
  border-radius: 0px;
  color: #2299dd;
  font-weight: bolder;
}

.jumbotronContentWrapper {
  margin-top: 0;
}

.enroll {
  background-color: #33ff99;
  height: 45px;
  width: auto;
  border-radius: 0px;
  color: white;
}

.navbar {
  color: white;
}

.navbarDark {
  color: #8d959a;
}

#jumbotext {
  color: white;
  padding-top: 10%;
  padding-bottom: 5%;
}

.jumboLead {
  padding-bottom: 10px;
  color: white;
  font-size: 18px;
}

.jumbotextPadding {
  padding-left: 10%;
}

#navbarSupportedContent {
  display: inherit;
  flex-direction: row-reverse;
  align-items: center;
}

#jumboLead {
  padding-bottom: 10px;
}

.nav-link {
  color: white;
}

.studyGirl {
  background-image: url(./assets/hero-8-wide.jpg);
  height: 700px;
  background-size: cover;
  background-position: center;

}

.sadGirlRow {
  height: 100%;
}

.middle { 
  height: 400px; 
}

.bottom {
  height: 400px;
  padding-bottom: 30px;
  margin-bottom: 4%;
  margin-left: 5%;
  margin-right: 5%;
}

.mainQuote {
  width: 70%;
  padding-top: 5px;
  /* position: relative; */
}

.quoter {
  padding-top: 10px;
}

.greenSquare {
  background-color: #33ff99;
  width: 67%;
  height: 36rem;
  position: absolute;
  top: 10%;
  left: 8%;
}

.grey {
  color: #8d959a;
  font-size: 20px;
  margin-top: 4%;
  margin-bottom: 4%;
}

.sadGirl {
  top: 43%;
  /* right: 0%; */
  width: 50%;
  padding-bottom: 300px;
  margin-bottom: 300px;
}

.middleText {
  margin-top: 20%;
  padding-left: 15%;
  padding-right: 15%;
}

.secondMiddleText {
  padding-top: 15%;
  padding-right: 10%;
}

.arrow {
  height: 10px;
}

.blueRead {
  color: #2299dd;
}

.secondBlueArrow {
  position: absolute;
  padding-left: 21%;
}

.blueLines {
    width: 36%;
    /* bottom: -21%; */
    top: 100%;
    /* height: 18rem; */
    left: 44%;
}

.thirdRowPadding {
  margin-top: 20%;
}

.busyPeople {
  left: 32%;
  width: 311px;
  top: -12%;
}

.greenLines {
  height: 413px;
  top: 46%;
  right: 20%;
}

.chat {
  height: 70px;
  width: auto;
  right: 25%;
  top: -7%;
}

.thirdRowParagraph {
  padding-right: 15%;
}

.blueSquare {
  background-color: #2299dd;
  width: 75%;
  height: 32rem;
}

.greenQuotation {
  height: 10%;
  width: auto;
}

.bottomBlueSquare {
  background-color: #2299dd;
  height: 40rem;
  width: 50%;
}

.bottomMiddle {
  height: 30rem;
  margin-top: 12%;
}

.bottom {
  height: 400px;
  padding-bottom: 30px;
  margin-bottom: 4%;
}

.bottomRightLines {
  height: 36%;
  width: auto;
  right: 67%;
  top: 78%;
}

.bottomLeftLines {
  height: 187px;
  width: auto;
  left: 68%;
  top: -16%;
}

.bottomBlueText {
  color: white;
  padding-left: 10%;
  padding-top: 15%;
  padding-right: 10%;
}

.darkerGreen {
  background-color: #2de187;
}

 .bottomTeachersText {
  padding-left: 10%;
  padding-top: 15%;
  padding-right: 10%;
 }

 .greenRead {
  color: #33ff99;
 }

 .tail {
  background-color: #002333;
  margin-top: 25%
 }

 .footerText {
  color: #8d959a;
  font-size: 17px;
  padding-left: 7%;
  padding-right: 7%;
  padding-top: 7%;
 }

 .list-group-item-action {
   margin-bottom: 8%;
 }

 .footerLinks {
   color: white;
   list-style-type: none;
 }

 .footerLogo {
   padding-top: 7%;
   padding-left: 7%;
 }

 .twitFace {
  margin-top: 50%;
 }

 .footLogo {
  height: auto;
  width: 50%;
  position: absolute;
  top: 3%;
  right: 36%;
 }
 
 .termsPolicy {
  line-height: 0px;
  font-size: x-small;
  margin-top: 10%;
 }

 /* student stuff */

 .middleGreyImage {
  background-image: url(./assets/light-hero-1.jpg);
  height: 500px;
  background-size: cover;
  background-position: center;
 }

 .studentBlueLines {
  height: 40%;
  width: auto;
  top: 15%;
  left: 10%;
 }

 .studentGreenSquare {
  background-color: #33ff99;
  width: 60%;
  height: 36rem;
  position: absolute;
  top: 10%;
  left: 20%;
 }

 .studentSadGirl {
  top: 28%;
  right: 10%;
  width: 50%;
 }

 .code_ {
   color: #002333;
 }

 .getStartedGreen {
  color: #33ff99;
  background-color: white;
  border: #33ff99;
  border-width: medium;
  border-style: solid;
  margin-left: 5px;
 }

 .studentBlueSquare {
  background-color: #2299dd;
  width: 75%;
  height: 32rem;
  margin-right: 0;
  margin-left: auto;
 }

 .studentThirdRowPadding {
  margin-top: 4%;
 }

 .muchConcentrate {
  left: 15%;
  width: 50%;
  top: 10%;
 }

 .studentGreenLines {
  width: 26%;
  top: 43%;
  right: 66%;
 }

 .studentChat {
  width: 5%;
  top: -5%;
  right: 27%;
 }

 .studentBlueButton {
   background-color: #2299dd;
   color: white;
   border-radius: 0;
 }

 .studentSecondMiddleText {
  padding-top: 15%;
  padding-left: 20%;
 }

 .studentTail {
  background-color: #002333;
  margin-top: 10%;
}