 body {
  font-family: proxima-nova, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.proximaNovaBlack {
font-family: proxima-nova, sans-serif;
font-weight: 900;
font-style: normal;
}

.proximaNovaThin {
  font-family: proxima-nova-condensed, sans-serif;
  font-weight: 250;
  font-style: normal;
}

.careersCode {
  font-size: 30px;
  margin-top: 3%;
}

.jumbotron {
  padding: 1rem 2rem;
}

.jumboStuff {
  width : 100%;
}

.logo {
  height: 45px;
  width: auto;
}

.getStarted {
  background-color: transparent;
  height: 45px;
  width: auto;
  border-radius: 0px;
  border: white;
  border-width: medium;
  border-style: solid;
  color: white;
  margin-left: 5%;
}

.explore {
  background-color: white;
  height: 45px;
  width: auto;
  border-radius: 0px;
  color: #2299dd;
}

.changeWidth{
  width: 100%;
}

.enroll {
  background-color: #33ff99;
  height: 45px;
  width: auto;
  border-radius: 0px;
  color: white;
}

.navbar {
  color: white;
  width: 100%;
}

.navbarDark {
  color: #8d959a;
}

#jumbotext {
  color: white;
  padding-top: 10%;
  padding-bottom: 5%;
}

.jumboLead {
  padding-bottom: 10px;
  color: white;
  font-size: 18px;
}

.jumbotextPadding {
  padding-left: 10%;
}

#navbarSupportedContent {
  display: inherit;
  flex-direction: row-reverse;
  align-items: center;
}

#jumboLead {
  padding-bottom: 10px;
}

.nav-link {
  color: white;
}

.studyGirl {
  background-image: url(./assets/hero-8-wide.jpg);
  background-size: cover;
  background-position: center;
  padding-bottom: 4%;
}

.bottom {
  height: auto;
}

.quoter {
  padding-top: 10px;
}
.footerButtonPad {
  margin-top: 5%;
}

.greenSquare {
  background-color: #33ff99;
  width: 67%;
  height: 100%;
  top: 10%;
  margin-top: 10%;
  margin-left: 8%;
}

.grey {
  color: #8d959a;
  font-size: 20px;
  margin-top: 4%;
  margin-bottom: 4%;
}

.sadGirl {
  top: 43%;
  /* right: 0%; */
  width: 50%;
  position: absolute;
}

.middleText {
  margin-top: 5%;
  padding-left: 10%;
  padding-right: 10%;
}

.secondMiddleText {
  padding-top: 15%;
  padding-right: 10%;
}

.arrow {
  height: 10px;
}

.blueRead {
  color: #2299dd;
}

.secondBlueArrow {
  position: absolute;
  padding-left: 21%;
}

.blueLines {
  width: 36%;
  top: 100%;
  left: 44%;
  position: absolute;
}

.busyPeople {
  left: 20%;
  width: 40%;
  top: -15%;
  position: absolute;
}

.greenLines {
  height: 60%;
  top: 56%;
  right: 20%;
  position: absolute;
}

.chat {
  height: 70px;
  width: auto;
  right: 25%;
  top: -7%;
}

.blueSquare {
  background-color: #2299dd;
  width: 75%;
  height: 32rem;
}

.marginBottom {
  margin-bottom: 15%;
}

.greenQuotation {
  height: 3rem;
  width: auto;
  margin-right: 5%;
}

.bottomBlueSquare {
  background-color: #2299dd;
  height: fit-content;
  width: 50%;
}

.bottomMiddle {
  margin-top: 12%;
  margin-bottom: 10%;
}

.bottom {
  height: auto;
  padding-bottom: 30px;
  margin-bottom: 4%;
}

.bottomRightLines {
  height: 36%;
  width: auto;
  right: 67%;
  top: 78%;
}

.bottomLeftLines {
  height: 187px;
  width: auto;
  left: 68%;
  top: -16%;
}

.bottomBlueText {
  color: white;
  padding-left: 5%;
  padding-top: 5%;
  padding-right: 5%;
  padding-bottom: 6%;
}

.darkerGreen {
  background-color: #2de187;
}

 .bottomTeachersText {
   color: black;
 }

 .greenRead {
  color: #33ff99;
 }

 .tail {
  background-color: #002333;
  margin-top: 25%
 }

 .footerText {
  color: #8d959a;
  font-size: 17px;
  padding-left: 7%;
  padding-right: 7%;
  padding-top: 7%;
 }

 .list-group-item-action {
   margin-bottom: 8%;
 }

 .footerLinks {
   color: white;
   list-style-type: none;
 }

 .footLogo {
  height: auto;
  width: 70%;
 }
 
 .termsPolicy {
  font-size: x-small;
  color: #8d959a;
 }

 .tryDisplays {
  display: inline-flex;
  padding-left: 10%;
  padding-right: 10%;
 }

 /* student stuff */

 .studentNavLogo {
  height: 45px;
  width: auto;
 }

 .sadGirlRow {
  height: auto;
  margin-top: 15px;
}

 .rightNonePadding {
  padding-right: 0px;
  padding-left: 0px;
 }

 .middleGreyImage {
  background-image: url(./assets/light-hero-1.jpg);
  background-size: cover;
  background-position: center;
 }

 .studentBlueLines {
  height: 40%;
  width: auto;
  top: 15%;
  left: 10%;
 }

 .studentGreenSquare {
  background-color: #33ff99;
  width: 53%;
  height: 380px;
  position: absolute;
  top: 6%;
  left: 37%
}

 .studentSadGirl {
  top: 28%;
  right: 10%;
  width: 50%;
  position: absolute;
 }

 .code_ {
   color: #002333;
 }

 .zeroPadding {
   padding-left: 0px;
 }

 .getStartedGreen {
  color: #33ff99;
  background-color: white;
  border: #33ff99;
  border-width: medium;
  border-style: solid;
  margin-left: 5px;
 }

 .studentBlueSquare {
  background-color: #2299dd;
  width: 75%;
  height: 32rem;
  margin-right: 0;
  margin-left: auto;
  margin-top: 5%;
 }

 .studentThirdRowPadding {
  margin-top: 4%;
 }

 .muchConcentrate {
  left: 15%;
  width: 50%;
  top: 15%;
  position: absolute;
 }

 .studentGreenLines {
  left: 16%;
  width: 26%;
  top: -191px;
  position: relative;
  z-index: 0;
 }

 .studentChat {
  width: 5%;
  top: 5%;
  right: 27%;
  position: absolute;
 }

 .studentMargin {
   padding-top: 10%;
 }

 .studentNavMargin {
   margin-top: 30px;
 }

 .studentBlueButton {
   background-color: #2299dd;
   color: white;
   border-radius: 0;
   margin-top: 5%;
 }

 .studentSecondMiddleText {
  padding-top: 15%;
  padding-left: 20%;
 }

 .studentTail {
  background-color: #002333;
}

.studentStats {
  width: 50%;
  margin-top: 5%;
  margin-bottom: 5%;
  padding-left: 15%;
  padding-right: 15%;
}

.blueStats {
  color: #002333;
}

.midBlue {
  color: #2299dd;
}

.midGreen {
  color: #2de187;
}

.studentNavLink {
  color: #8d959a;
}

.vl {
  border-left: 1px solid #002333;
  height: 3rem;
  margin-left: 20px;
  margin-right: 20px;
}

.studentFooterLinks {
    color: #8d959a;
    font-size: 17px;
    padding-top: 7%;
}

.nav {
  margin-top: 1%;
  margin-left: 5%;
  margin-right: 5%;
  /* border-left: 1px solid #002333; */
  height: 6%;
  margin-left: 20px;
  margin-right: 20px;
}

.extraFooter {
  background-color: #002333;
  padding-bottom: 2%;
}

.inline {
  display: inline
}

.navbar-toggler-icon {
  color: #002333;
}

.thing {
  display: block;
}

.list-group-item-action {
  margin-bottom: 4%;
}