/* For mobile */

@media only screen and (max-width: 600px) {

  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1rem;
  }

  .studentBlueSquare {
      height: 25%;
  }

  .screen {
    margin-top: 20%;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
  }

  .screenQuote {
    padding-left: 0;
    padding-right: 0;
    text-align: center;
  }

  .row {
    margin-left: 0px;
    margin-right: 0px;
  }

  .jumboLead {
    font: auto;
  }

  .jumboTextPadding {
    padding-left: 0px;
  }

  .studentGreenSquare {
    background-color: #33ff99;
    width: 53%;
    height: 380px;
    position: absolute;
    top: 6%;
    left: 37%
  }

  .mobileButtons {
    display: inline-flex;
  }

  .studentBlueLines {
    height: 190px;
    width: auto;
    top: 22%;
    margin-left: 12%;
    position: relative;
  }

  .studentSadGirl {
    top: 40px;
    position: relative;
    width: 100%;
    display: block;
    right: auto;
  }
  .studentSecondMiddleText {
    padding-top: 15%;
    padding-left: 0px;
    text-align: center;
}

  .studentMiddleText {
    margin-top: 15%;
    padding-top: 15%;
  }
  .middleText {
    margin-top: 20%;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
}

  .muchConcentrate {
    width: 100%;
    height: auto;
    position: inherit;
    display: block;
    margin-top: 15px;
    margin-bottom: 65px;
    left: 0px;
  }

  .busyPeople {
    position: relative;
    width: 100%;
    margin-top: 4rem;
    left: 0;
  }

  .sadGirlRow {
    height: auto;
  }

  .studenGreenSquare {
    width: 61%;
    top: -15%;
    left: 37%;
  }

  .padBottom {
    margin-top: 15px;
    margin-bottom: 10%;
    padding-right: auto;
  }

  .studentBlueLines {
    height: auto;
    width: 25%;
    top: -13%;
    left: 61%;
  }

  .footerText {
    padding-left: 10%;
    padding-right: 10%;
  }

  .twitFace {
    text-align: center;
  }

  .studentTail {
    text-align: center;
  }

  .bottomRightLines {
    left: 67%;
    height: 20%
  }

  .logo {
    height: 21px;
  }

  .bottomLeftLines {
    height: 31%;
    left: 68%;

  }

  .tryDisplays {
    display: block;
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 50px;
   }

   .sadGirl {
     width: 100%;
     display: block;
     margin-top: 25px;
     position: initial;
   }

   .zeroPadding {
     padding-left: 15px;
   }

}