/* For mobile */

@media only screen and (max-width: 600px) {

  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1rem;
  }

  .studentBlueSquare {
      height: 25%;
  }

  .noPads {
    padding-left: 0px;
    padding-right: 0px;
  }

  .studyGirl {
    padding-left: 5%;
    padding-right: 5%;
  }

  .centerAlign {
    text-align: center;
  }

  .screen {
    margin-top: 20%;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
  }

  .jumboNoTopMargin {
    margin-top: 0px;
  }

  .screenQuote {
    padding-left: 0;
    padding-right: 0;
    text-align: center;
  }

  .row {
    margin-left: 0px;
    margin-right: 0px;
  }

  .jumboLead {
    font: auto;
  }

  .jumboTextPadding {
    padding-left: 0px;
  }

  .studentGreenSquare {
    background-color: #33ff99;
    width: 53%;
    height: 380px;
    position: absolute;
    top: 6%;
    left: 37%
  }

  .mobileButtons {
    display: inline-flex;
  }

  .studentBlueLines {
    height: 190px;
    width: auto;
    top: 22%;
    margin-left: 12%;
    position: relative;
  }

  .studentSadGirl {
    top: 40px;
    position: relative;
    width: 100%;
    display: block;
    right: auto;
  }
  .studentSecondMiddleText {
    padding-top: 15%;
    padding-left: 0px;
    text-align: center;
}

  .jumboButtons {
    display: flex;
    justify-content: center;
  }

  .studentMiddleText {
    padding-top: 15%;
  }

  .rightNonePadding {
    margin-top: 10%;
    margin-bottom: 10%;
  }
    
  .middleText {
    margin-top: 20%;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
  }

  .changeWidth {
    padding-left: 0px;
  }

  .muchConcentrate {
    width: 100%;
    height: auto;
    position: inherit;
    display: block;
    margin-top: 15px;
    margin-bottom: 65px;
    left: 0px;
  }

  .bottomSquaresText {
    font-size: 1rem;
  }

  .busyPeople {
    position: relative;
    width: 100%;
    margin-top: 4rem;
    left: 0;
  }

  .sadGirlRow {
    height: auto;
    margin-top: 5%;
  }

  .studenGreenSquare {
    width: 61%;
    top: -15%;
    left: 37%;
  }

  .padBottom {
    margin-top: 15px;
    margin-bottom: 10%;
    padding-right: auto;
  }

  .studentBlueLines {
    height: auto;
    width: 25%;
    top: -13%;
    left: 61%;
  }

  .noPad {
    padding-left: 0px;
    padding-right: 0px;
    min-height: 0;
  }

  .footerText {
    padding-left: 10%;
    padding-right: 10%;
  }

  .padRight {
    padding-right: 15px;
  }

  .twitFace {
    text-align: center;
  }

  .studentTail {
    text-align: center;
  }

  .bottomRightLines {
    left: 67%;
    height: 20%
  }

  .logo {
    height: 28px;
  }

  .bottomLeftLines {
    height: 31%;
    left: 68%;
  }

  .tryDisplays {
    display: block;
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 50px;
   }

   .sadGirl {
    width: 100%;
    display: block;
    margin-top: 25px;
    position: initial;
   }

  .zeroPadding {
    padding-left: 15px;
  }

}